/**
 * Site header
 */
.site-header {
    border-top: 5px solid $brand-color;
    border-bottom: 5px solid $brand-color;
    min-height: 100px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 100px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 100px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 30px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 4px solid $brand-color;
    padding: $spacing-unit 0;
    background-color: $grey-color-dark;
  color: #FFFFFF;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-tutorial {
  width: 31%;
  min-height: 200px;
  border-radius: 5px;
  box-shadow: 0 0 4px 0 #323330;
  float: left;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 20px;

  @include media-query($on-laptop) {
    width: 48%;
  }

  @include media-query($on-tablet) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.post-content {
  padding: 10px;
}

.post-meta {
  background-color: lighten($brand-color, 35%);
  border-bottom: 4px solid $brand-color;
  padding: 10px;
  border-radius: 4px 4px 0 0;
  color: $brand-color;
  margin-bottom: 0;
  .post-author {
    float: right;
  }
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-comments {
  font-size: 12px;
  float: right;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
  color: $brand-color;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

article {
  &.post-content {
    @extend .post-content;

    font-family: Helvetica, Arial, sans-serif;
  }
}

.post-difficulty {
  line-height: 100px;
  background-color: $brand-color;
  text-align: center;
  h1 {
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
  }
}

.post-share {
    padding-bottom: 20px;
    .button {
        float: left;
        padding-right: 20px;
    }
    .facebook-button {
        @extend .button;
    }
    .twitter-button {
        @extend .button;
        iframe {
            vertical-align: middle;
        }
    }
    .google-button {
        @extend .button;
    }
}

.post-tags {
  h5 {
    margin-bottom: 0;
  }
  .ss {
    margin-right: 10px;
  }
  ul {
    display: inline;
    list-style: none;
    margin: 0;

    li {
      display: inline;
      margin: 0;
      line-height: 60px;

      &.tag {
        padding: 10px;
        text-align: center;
        min-width: 180px;
        margin-right: 10px;
        border: 2px solid;
      }

      &.nodejs {
        @extend .tag;
        background-color: $nodejs-background-color;
        color: $nodejs-color;
        border-color: darken($nodejs-background-color, 15%);
      }
      &.mean {
        @extend .tag;
        background-color: $mean-background-color;
        color: $mean-color;
        border-color: darken($mean-background-color, 10%);
      }
      &.express {
        @extend .tag;
        background-color: $express-background-color;
        color: $express-color;
        border-color: darken($express-background-color, 50%);
      }
      &.javascript {
        @extend .tag;
        background-color: $javascript-background-color;
        color: $javascript-color;
        border-color: darken($javascript-background-color, 30%);
      }
      &.mongodb {
        @extend .tag;
        background-color: $mongodb-background-color;
        color: $mongodb-color;
        border-color: darken($mongodb-background-color, 15%);

      }
    }
  }
}

.post-tags-small {
  @extend .post-tags;
  font-size: 10px;
}

.clearfix {
    @extend %clearfix;
}
