---
layout: default
---
<div class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>

        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

        <div class="post-difficulty">
            <h1>Tutorial Level: {{ page.difficulty }}</h1>
        </div>
    </header>

    <article class="post-content">
        {{ content }}
    </article>

    <div class="post-tags">
        <h5>Tags:</h5>
        {% include tags.html %}
    </div>

</div>
